[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[packages]
pymongo = "*"
luigi = {git = "https://github.com/orsinium/luigi.git", extras = ["toml"]}

[dev-packages]
